.git
.gitignore
.env
.env.*
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
*.log
tests
README.md
*.md
deploy/
docker-compose*.yml
.phpunit.result.cache
.phpunit.cache
Thumbs.db
.DS_Store
